services:
  user_service:
    build:
      context: .
      dockerfile: Dockerfile.storitev_uporabniskega_sistema
    container_name: user_service
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=${USER_SERVICE_MONGODB_URL}
    env_file:
      - ../.env
    depends_on:
      user-mongo:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  user-mongo:
    build:
      context: .
      dockerfile: Dockerfile.mongo
    container_name: user_system-mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=${USER_MONGO_INITDB_DATABASE}
    env_file:
      - ../.env
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  uporabniski_mongo_data:
  uporabniski_sistem_data:

networks:
  app-network:
    driver: bridge

    